html, body {
    height: 100%;
    margin: 0;
}

#canvas {
    width: 100%;
    height: 100%;
    display: block;
}

#controls {
    display: table;
    position: absolute;
    top: 0px;
    right: 0%;
    border: 1px dashed sandybrown;
}

.controls {
    opacity: 80%;
    padding: 10px;
    z-index: 5;
    font-family: monospace;
}

.controls-row {
    display: table-row;
    /* background-color: firebrick; */
    /* border-collapse: collapse;
    border: 1px solid dodgerblue; */
}
.controls-row > div, input {
    display: table-cell;
    vertical-align: middle;
}

.controls-name {
    text-align: right;
}
.controls-value {
    text-align: left;
    min-width: 3em;
}

.slider {
    margin: 5px;
}